<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stefa's DNUTS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/contactanos.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="icon" href="{% static 'icon/2.ico' %}" sizes="128x128" type="image/x-icon">
    <style>
        .combos {
            cursor: pointer;
        }
    </style>
</head>
<body>
  {% include 'includes/nav_index.html' %}

<div class="LaVida">
    <h1>¡La vida sabe mejor con una <span class="DNUT">DNUT!</span></h1>
</div>
<div class="contacta shadow">
    <div class="ubicacion">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.675290921572!2d-74.06553702526143!3d4.651875695322966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a45d9f1654b%3A0x3d69138572d157f2!2sSENA%20-%20Centro%20De%20Servicios%20Financieros!5e0!3m2!1sen!2sco!4v1732747225426!5m2!1sen!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="infoContact">
        <h1>CONTÁCTANOS</h1>
        <div class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="home">
                <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
                <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
            </svg>
            <div class="text">
                <h2>DIRECCIÓN:</h2>
                <h3>{{ direccion }}</h3>
            </div>
        </div><br>
        <div class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="home">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z" clip-rule="evenodd" />
            </svg>

            <div class="text">
                <h2>HORARIO DE ATENCIÓN:</h2>
                <h3>{{ horario }}</h3>
            </div>
        </div><br>
        <div class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="home">
                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
            </svg>

            <div class="text">
                <h2>CONTACTO:</h2>
                <h3>{{ telefono }}</h3>
            </div>
        </div>
        <div class="botones">
            <button onclick="window.location.href='https://wa.me/573001112233'" class="btn btn1 mx-2 shadow">CHAT</button>
        </div>
    </div>
</div>
<div class="InformacionFinal">
    <ul class="navbarFinal">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
        <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
        <li><a href="{% url 'contactanos' %}">Contáctanos</a></li>
    </ul>
    <div class="Direccion">
        <br><hr><br>
        <p>Cra 13 # 6510, Bogotá, Colombia <br>
            © {% now "Y" %} Stefa´s Donuts.</p>
    </div>
</div>
</body>
</html>