{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stefa's DNUTS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/vistacliente.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="icon" href="{% static 'icon/2.ico' %}" sizes="128x128" type="image/x-icon">
    <style>
        .combos {
            cursor: pointer; 
        }
    </style>
</head>
<body>
    {% include 'includes/nav_cliente.html' %}
    <div class="contenedor1 shadow">
        <div class="celular">
            <img src="{% static 'Image/donlog.png' %}" alt="Phone Image" class="img-fluid">
        </div>
        <div class="textoPrincipal">
            <h1>¡La vida sabe mejor con una <span class="DNUT">DNUT!</span></h1>
            <p class="mt-3">Haz parte de esta experiencia, <br> ¡Conocenos y <br><span class="ordena">Ordena AHORA!</span></p>
        </div>       
    </div>
    <div class="contenedor2 shadow">
        <div class="textoCapa2"><h1>¡Arma y construye tu <span class="palabra">DNUT</span> a tu gusto!</h1></div>
        <div class="gallery">
            <div class="gallery-item shadow">
                <a href="{% url 'catalogocliente' %}#ProductMasas">
                    <img src="{% static 'Image/masa.png' %}" alt="masa">
                    <p class="titulo">Masa</p>
                </a>
            </div>
            <div class="gallery-item shadow">
                <a href="{% url 'catalogocliente' %}#ProductCobertura">
                    <img src="{% static 'Image/cobertura.png' %}" alt="cobertura">
                    <p class="titulo">Cobertura</p>
                </a>
            </div>
            <div class="gallery-item shadow">
                <a href="{% url 'catalogocliente' %}#ProductToppings">
                    <img src="{% static 'Image/toppings.png' %}" alt="topping">
                    <p class="titulo">Toppings</p>
                </a>
            </div>
        </div>
    </div>
    <div class="contenedor3 shadow">
        <div class="flecha">
            <a class="flechita" href="#"><img src="{% static 'Image/flecha.png' %}" alt="flecha"></a>
        </div>
        <div class="combos" id="combos"> 
            <div class="cuadro shadow">
                <div class="cantidad">
                    <img src="{% static 'Image/yea.png' %}" alt="cantidadDonas">
                </div>
                <div class="letras">
                    <h1>!Elige el <br>combo a tu <span class="ANTOJO">ANTOJO!</span></h1>
                    <p class="descripcion">Elige la cantidad de DNTS que <br>quieras llevar</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("combos").onclick = function() {
            window.location.href = "{% url 'catalogocliente' %}";
        }
    </script>
    <div class="InicioSesion shadow">
     
    </div>
    <div class="RedesSociales">
        <h1>Síguenos en nuestras redes sociales</h1>
        <h2>¡CONÓCENOS!</h2>
        <div class="social">
            <div class="redes">
                <div class="redes1 shadow">
                    <a href="https://x.com/?lang=es" target="_blank">
                        <img src="{% static 'Image/twitter.png' %}" alt="Twitter">
                    </a>
                </div>
                <div class="redes2 shadow">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="{% static 'Image/facebook.png' %}" alt="Facebook">
                    </a>
                </div>
                <div class="redes3 shadow">
                    <a href="https://www.instagram.com/09_tefy_09/" target="_blank">
                        <img src="{% static 'Image/instagram.png' %}" alt="Instagram">
                    </a>
                </div>
                <h1>@Stefa'sdonuts</h1>
            </div>
        </div>
    </div>
    
    <div class="InformacionFinal">
        <ul class="navbarFinal">
            <li><a href="{% url 'vistacliente' %}">Inicio</a></li>
            <li><a href="{% url 'catalogocliente' %}">Catálogo</a></li>
            <li><a href="{% url 'nosotroscliente' %}">Nosotros</a></li>
            <li><a href="{% url 'contactanoscliente' %}">Contáctanos</a></li>
            <li><a href="{% url 'perfilcliente' %}">Perfil</a></li>
        </ul>
        <div class="Direccion">
            <br>
            <hr>
            <br>
            <p>Cra 13 # 6510, Bogotá, Colombia <br>
                © 2024 Stefa´s Donuts.</p>
        </div>
    </div>
</body>
</html>