<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
{% load static %}
<!-- templates/includes/nav_index.html -->
<nav class="navbar navbar-expand-lg bg-light border-bottom border-body shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'icon/7.ico' %}" width="300"></a>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavIndex">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse shadow" id="navbarNavIndex">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contactanos' %}">Contáctanos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">
          Iniciar sesión
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="Profile">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
           </svg>  
        </a></li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>